numpy==1.23.1
opencv-python==4.10.0.84
onnx==1.16.1
onnxruntime-gpu==1.16.1
mxnet-cu117==1.9.1
scikit-image==0.24.0
insightface==0.2.1
requests==2.32.3
kornia==0.5.4
dill==0.3.8
wandb==0.17.4
torch==1.13.1
torchvision==0.14.1
urllib3==1.26.15
